<header>
  <div class="content">
    <h1>CareerBuilder Employer UI/UX Style Guide</h1>
  </div>
</header>

<h1 class="title"><span class="content">Colors</span></h1>
<section id="colors">
  <article>
    <div class="content">
      <ul>
        <li class="swatch-box">
          <div class="color-swatch-primary"></div>
          <b>$primary</b>
        </li>

        <li class="swatch-box">
          <div class="color-swatch-secondary"></div>
          <b>$secondary</b>
        </li>

        <li class="swatch-box">
          <div class="color-swatch-accent-primary"></div>
          <b>$accent-primary</b>
        </li>
      </ul>
    </div>
  </article>
</section>

<h1 class="title"><span class="content">Typography</span></h1>
<section id="typography">
  <article>
    <div class="content">
      <h1>H1</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus, lorem non mollis finibus, tortor tortor feugiat ante, quis molestie ex mauris at ante. Phasellus vel arcu tempus elit gravida porta. Vestibulum sed sodales felis, ac rhoncus neque. Ut finibus, risus viverra placerat imperdiet, leo diam aliquam nisi, vel sollicitudin augue massa et lorem. Vivamus consequat porttitor consequat. Nunc mattis lectus ac purus venenatis congue. Proin vitae dolor vitae quam vulputate tincidunt nec et ex. Suspendisse gravida id sapien at vestibulum. Pellentesque ut sollicitudin elit. Etiam vel odio lectus. Ut congue eros sit amet elementum porttitor. Proin imperdiet fermentum massa sed vulputate. Maecenas lobortis mattis augue. Nam imperdiet faucibus ligula, at congue odio scelerisque vitae.</p>
    </div>
  </article>
</section>

<h1 class="title"><span class="content">Form Elements</span></h1>
<section id="form-elements">
  <article id="buttons">
    <div class="content">
      <h2>Buttons</h2>

      <button>Base</button>
      <button class="primary-button">Primary</button>
      <button class="secondary-button">Secondary</button>
      <button disabled>Disabled</button>
    </div>
  </article>

  <article id="horizontal-button-group">
    <div class="content">
      <h2>Horizonal Button Group</h2>

      <div class="horizontal-group">
        <button>Base</button>
        <button class="primary-button">Primary</button>
        <button class="secondary-button">Secondary</button>
        <button disabled>Disabled</button>
      </div>
    </div>
  </article>

  <article id="vertical-button-group">
    <div class="content">
      <h2>Vertical Button Group</h2>

      <div class="vertical-group">
        <button>Base</button>
        <button class="primary-button">Primary</button>
        <button class="secondary-button">Secondary</button>
        <button disabled>Disabled</button>
      </div>
    </div>
  </article>
</section>

<footer>
  Made with the blood sacrifice of Alex Tharp
</footer>
