<div class="brand-logo">
  <img src="assets/images/cb-logo-badge.png" alt="CareerBuilder Logo">
</div>
<ul class="menu">
  <li class="title"><a href="#colors" du-smooth-scroll du-scrollspy>Colors</a></li>
  <li class="title"><a href="#typography" du-smooth-scroll du-scrollspy>Typography</a></li>
  <li class="title"><a href="#form-elements" du-smooth-scroll>Form Elements</a></li>
  <li><a href="#buttons" du-smooth-scroll du-scrollspy>Buttons</a></li>
  <li><a href="#horizontal-button-group" du-smooth-scroll du-scrollspy>Horizontal Button Group</a></li>
  <li><a href="#vertical-button-group" du-smooth-scroll du-scrollspy>Vertical Button Group</a></li>
</ul>
