////
// Vendor
////

@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/employer-style-base/sass/base';

@import '../../bower_components/neat/app/assets/stylesheets/neat-helpers';
@import '../../bower_components/employer-style-grid/sass/grid';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

////
// Application
////

// Variables

$navbar-width: 18em;

// Global elements

.employer-scope {
  background-color: $white;

  .guide {
    @include outer-container(100%);
  }

  // Navbar

  .brand-logo {
    padding: $base-spacing / 2;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  nav.navbar-left {
    @include position(fixed, 0px null null 0px);
    overflow: auto;
    height: 100%;
    background-color: $panel-secondary;
    border-right: 1px solid $grey-lightest;
    display: none;

    @include media($desktop) {
      width: $navbar-width;
      display: block;
    }

    ul.menu {
      li.title a {
        background-color: $grey-lightest;
        color: darken($grey-light, 10);
        font-weight: bold;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }

      li {
        font-size: $h6-font-size;
        line-height: $header-line-height * 1.5;
        position: relative;

        &:first-of-type a {
          border-top: 1px solid $grey-lightest;
        }

        a {
          border-bottom: 1px solid $grey-lightest;
          color: $black;
          padding: $base-spacing / 2;
          display: block;

          &.active {
            &:before {
              @include position(absolute, 1.2em 1em null null);
              @include triangle(1em, $grey-lighter, right);
              content: '';
            }
          }

          &:hover {
            background-color: $white;
          }
        }
      }
    }
  }

  // Main

  .browser-notify {
    @extend %panel-primary;
    background-color: $accent-warning-light;
  }

  main {
    @include media($desktop) {
      @include calc(width, "100% - #{$navbar-width}");
      margin-left: $navbar-width;
    }

    header {
      padding: $base-spacing * 1.5 0;
    }

    .title {
      background: $accent-primary-light;
      color: #FFF;
      text-transform: uppercase;
      font-size: 1em;
      line-height: 1em;
      margin: 0;
      padding: $base-spacing * 0.8 0;

      span {
        display: block;
      }
    }

    article {
      border-bottom: 2px solid $accent-primary-light;
      padding: $base-spacing * 2.5 0;

      h2 {
        margin-bottom: $base-spacing * 0.6;
      }

      &:last-of-type {
        border: none;
      }
    }

    section#colors {
      li {
        @extend %panel-primary;
        float: left;
        margin-right: $base-spacing;
        width: 8em;
      }

      b {
        text-align: center;
        display: block;
        padding: $base-spacing / 4 0;
      }

      .color-swatch-primary {
        @extend %color-swatch;
        background-color: $primary;

        &::before {
          background-color: $primary-light;
        }

        &::after {
          background-color: $primary-dark;
        }
      }

      .color-swatch-secondary {
        @extend %color-swatch;
        background-color: $secondary;

        &::before {
          background-color: $secondary-light;
        }

        &::after {
          background-color: $secondary-dark;
        }
      }

      .color-swatch-accent-primary {
        @extend %color-swatch;
        background-color: $accent-primary;

        &::before {
          background-color: $accent-primary-light;
        }

        &::after {
          background-color: $accent-primary-dark;
        }
      }
    }

    section#form-elements {
      button.primary-button {
        @extend %primary-button;
      }

      button.secondary-button {
        @extend %secondary-button;
      }

      .horizontal-group {
        @extend %button-group;
      }

      .vertical-group {
        @extend %button-group-vertical;
      }
    }
  }

  %color-swatch {
    position: relative;
    width: 100%;
    padding: 50% 0;

    &::before, &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 20%;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  %content-wrapper {
    @include outer-container(em(960));
    padding: 0 $base-spacing;
  }

  .panel {
    @extend %panel-primary;
  }

  .content {
    @extend %content-wrapper;
  }

  code {
    padding: 2px 4px;
    font-size: .9em;
    color: #C7254E;
    background-color: #F9F2F4;
    border-radius: 4px;
  }
}
